*{
    margin:0;
    padding:0;
}
html,body{
    width: 100%;
    height:100%;
}
body{
    font-family:"PingFangSC-Medium";
    /*letter-spacing:2px;*/
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding-left: 0;
    padding-right: 0;
}
li{
    list-style: none;
    cursor: pointer;
}
ul{
    margin: 0;
}
.btn.btn-outline.blue{
    /* border-color: #fff;
     color: #555555;*/
}
.btn.btn-outline.blue.active, .btn.btn-outline.blue:active, .btn.btn-outline.blue:active:focus, .btn.btn-outline.blue:active:hover, .btn.btn-outline.blue:focus, .btn.btn-outline.blue:hover{
    background: #fff;
    color: #3498db;
}
.list_check {
    border-color: #bfbfbf!important;
    border-radius: 2px!important;
    width: 16px!important;
    height: 16px!important;
}
.mt-checkbox>span:after {
    left: 5px;
    top:1px;
    border-color: #3498db;
}
/*修改input插件默认样式 start*/
.mt-checkbox.mt-checkbox-outline:hover>input:not([disabled]):checked~span,
.mt-checkbox.mt-checkbox-outline:hover>input:not([disabled])~span,
.mt-checkbox.mt-checkbox-outline>input:checked~span,
.mt-checkbox.mt-checkbox-outline>input:focus~span,
.mt-checkbox.mt-checkbox-outline>span,
.mt-checkbox.mt-radio-outline:hover>input:not([disabled]):checked~span,
.mt-checkbox.mt-radio-outline:hover>input:not([disabled])~span,
.mt-checkbox.mt-radio-outline>input:checked~span,
.mt-checkbox.mt-radio-outline>input:focus~span,
.mt-checkbox.mt-radio-outline>span,
.mt-radio.mt-checkbox-outline:hover>input:not([disabled]):checked~span,
.mt-radio.mt-checkbox-outline:hover>input:not([disabled])~span,
.mt-radio.mt-checkbox-outline>input:checked~span,
.mt-radio.mt-checkbox-outline>input:focus~span,
.mt-radio.mt-checkbox-outline>span,
.mt-radio.mt-radio-outline:hover>input:not([disabled]):checked~span,
.mt-radio.mt-radio-outline:hover>input:not([disabled])~span,
.mt-radio.mt-radio-outline>input:checked~span,
.mt-radio.mt-radio-outline>input:focus~span,
.mt-radio.mt-radio-outline>span{
    border-color:#f85759;
}



