<!DOCTYPE html>
<!-- <html lang="en"> -->
<html lang="zh-cn">
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>通联详情</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #1 for fixed sidebar option" name="description" />
    <meta content="" name="author" />

    <link rel="icon" href="../../img/dayang.ico" type="image/x-icon" />
    <link href="../../static/plugins/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../../static/plugins/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!--bootstrap CSS-->
    <!-- END GLOBAL MANDATORY STYLES -->

    <link href="../../static/plugins/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../../static/plugins/assets/global/plugins/clockface/css/clockface.css" rel="stylesheet" type="text/css" />
    <link href="../../static/plugins/assets/global/plugins/select2/css/select2.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="../../static/plugins/assets/global/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="../../static/plugins/assets/global/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="../../static/plugins/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <!--基本样式-->
    <link href="../../static/plugins/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!--基本插件样式-->
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="../../static/plugins/assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
    <!--插件公共部分 宽高 样式-->
    <!-- END THEME LAYOUT STYLES -->
    <link href="../../static/css/ccbnCommon.css" rel="stylesheet" type="text/css">
    <link href="../../static/css/comunication/iconfont.css" rel="stylesheet" type="text/css">
    <link href="../../static/css/comunication/index.css" rel="stylesheet" type="text/css">
    <link href="../../static/css/comunication/communication_detail.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="../../js/jquery-2.0.3.min.js"></script>
</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white page-sidebar-fixed">
    <div style="position: relative;width: 100%;height: 1080px;">
        <div class="screen_container">
            <div class="screen_header" id="screen_header_text">
                <span class="icon iconfont iconimg_upleft"></span>
                <span class="icon iconfont iconimg_downleft"></span>
                <span class="icon iconfont iconimg_downright"></span>
                <span class="icon iconfont iconimg_upright"></span>
                <span class="header_icon"><img src="../../static/images/communication/xiangqingmoshi.svg" width="58"></span>
                <span class="header_title">约稿详情</span>
                <span class="header_eng">Invitation details</span>
            </div>
            <div class="screen_content" id="detail_contant">
                <div id="detail-1" class="detile_up">

                </div>
                <div id="detail-2" class="detile_down">

                </div>
            </div>
            <div class="screen_content" id="repay_detail" style="display:none;">
                <div style="display: flex;height: 100%;">
                    <div class="detile_left" style="color: #FFFFFF;">
                        <h2 style="font-size: 26px;font-weight:bold;margin: 0;height: 70px;border-bottom: 1px solid rgba(255,255,255,0.38);line-height: 45px;" id="reply_detail_title"></h2>
                        <div id="reply_detail_content" class="reply-detail-content"></div>
                    </div>
                    <div id="reply_detail_right" class="detile_right">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../../plugin/aui-artTemplate/template.js"></script>

<script id="detail1-list-item" type="text/html">
    <div class="detile_title">
        <div class="res_title">
            <h2 style="margin:0;color:#fff;font-size:36px;font-weight:500;">{{mainSubtitle}}</h2>
            {{if mainStatus == 0}}
            <span class="res_mainStatus">草稿</span> {{else if mainStatus == 1}}
            <span class="res_mainStatus">已发布</span> {{else if mainStatus == 2}}
            <span class="res_mainStatus">已回复</span> {{/if}}
        </div>
        <div class="article-list-subtitle flex-box">
            <span class="detail-items">发布：{{mainUserOrganizationName}}</span>
            <span class="detail-items">发布人：{{mainCreateUserName}} </span>
            <span class="detail-items">发布时间：{{mainPublishTime}}</span>
            <span class="detail-items">截止时间：{{mainFinalDeadline}}</span>
        </div>
    </div>
    <div class="detail-content-box">
        <p>{{mainStrReserve1}}</p>
    </div>
</script>
<!-- 回复内容和评论内容 发布范围-->
<script id="detail2-list-item" type="text/html">
    <div id="reply_comment_left" class="detile_left">
        <div class="flex-box">
            <div class="tab_active" name="reply_ul" style="margin-right: 65px;" id="reply_tab">回复内容 (<span>{{pageReplyCommunications.totalCount}}</span>)</div>
            <div class="tab_unactive" name="comment_ul" id="comment_tab">评论内容 (<span>{{pageCommentaryAppointmanuscript.totalCount}}</span>)</div>
        </div>
        <ul class="list_container" id="reply_ul">
            {{each pageReplyCommunications.list as item index}}
            <li class="reply-comment-list-items">
                <p>{{item.replyStrReserve1}}</p>
                <div class="flex-box" style="justify-content:space-between;">
                    <span class="detail-items">回复人：{{item.replyCreatUserName}}</span>
                    <span class="detail-items">单位：{{item.replyUserOrganizationName}} </span>
                    <span class="detail-items">{{item.replyCreatTime}}</span>
                </div>
            </li>
            {{/each}}
        </ul>
        <ul style="display: none;" class="list_container" id="comment_ul">
            {{each pageCommentaryAppointmanuscript.list as item index}}
            <li class="reply-comment-list-items">
                <p>{{item.commentaryContent}}</p>
                <div class="flex-box" style="justify-content:space-between;">
                    <span class="detail-items">发布人：{{item.commentaryUserName}}</span>
                    <span class="detail-items">机构：{{item.commentaryUserOrganizationName}} </span>
                    <span class="detail-items">{{item.commentaryCreateTime}}</span>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
    <!-- 发布范围 -->
    <div id="rigion_right" class="detile_right">
        <div class="flex-box rigion_box">
            <span class="res_rigion_icon"></span>
            <span>发布范围 （<span>{{nodeList.length}}</span>）</span>
        </div>
        <div class="rigion_list">
            {{each nodeList as item index}}
            <span class="rigion_list_items">{{item.scopeOrganizationName}}</span> {{/each}}
        </div>
    </div>
</script>
<!-- 供稿详情基本信息 -->
<script id="reply-list-item" type="text/html">
    <div class="flex-box rigion_box" style="margin: 10px 0;">
        <span class="res_basic_icon"></span>
        <span>基本信息</span>
    </div>
    <ul>
        <li class="reply-items flex-box"><span>供稿人：</span><span>{{replyCreatUserName}}</span></li>
        <li class="reply-items flex-box"><span>供稿单位：</span><span>{{replyUserOrganizationName}}</span></li>
        <li class="reply-items flex-box" style="align-items: flex-start;"><span>附件列表：</span>
            <ul>
                {{each pageResultReplyAttachment.list as item index}}
                <li>
                    {{item.attachmentStrReserve2}}
                </li>
                {{/each}}
            </ul>
        </li>
    </ul>
</script>

<script type="text/javascript" src="../../static/scripts/util/utils.js"></script>
<script type="text/javascript" src="../../static/scripts/common/global.js"></script>
<!--通过调用接口的形式获取选题详情~而不是直接去数据库查询。  -->
<script type="text/javascript" src="../../static/scripts/show/communicationDetail.js"></script>

</html>