<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>轮播</title>
 <link href="../../static/scripts/swiper/css/carousel.css" rel="stylesheet" type="text/css" />
 

 
</head>
<body>

<div class="carousel-content">
	<ul class="carousel">
		<!--更换图片路径   -->
		<li class="" style="display: none;"><img src="../../ccbnImgs/yyfx-wx1.jpg"></li>
		<li class="" style="display: none;"><img src="../../ccbnImgs/yyfx-wb1.jpg"></li>
		<li class="" style="display: none;"><img src="../../ccbnImgs/yyfx-ds1.jpg"></li>
	</ul>
</div>
<script type="text/javascript" src="../../js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="../../static/scripts/swiper/js/carousel.js" ></script>
<script>
		 $(function(){
			$(".carousel-content").carousel({
				carousel : ".carousel",//轮播图容器
				indexContainer : ".33",//下标容器
				prev : ".33",//左按钮
				next : ".33",//右按钮
				timing : 10000,//自动播放间隔
				animateTime : 1,//动画时间
				auto : true,//是否自动播放
			});
		
		}); 
</script>
</body>
</html>