<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache"> 
<META HTTP-EQUIV="Expires" CONTENT="0"> 
<title>报选题量统计分析</title>
<link type="text/css" href="../../css/css.css" rel="stylesheet" />
<style type="text/css">body{ background:#000}</style>
<script type="text/javascript" src="../../js/jquery-2.0.3.min.js"></script>
<style type="text/css">
body{ background:url(../../img/6.jpg);}
</style>
</head>

<body>
	<div class="content">
		<div style="height: 100px; width: 100%;">
			<img src="../../img/logo6.png" /><span
				style="color:#fff; float:right; font-size:30px; height:100px; line-height:100px; ">数据来源于:<span id="time" style="color:#fff; float:right; font-size:30px; height:100px; line-height:100px; ">2016/05/24~2016/08/24</span></span>
		</div>
		<div style="height: 130px;">
			<table id="assignDiv" style="float: right" width="300px">
				<tr>
					<td width="122"></td>
					<td id=assign width="166" align="right" class="liangstyle1-g">0</td>
				</tr>
				<tr>
					<td align="right"><span class="liangstyle2-g"></span></td>
					<td align="right" class="font-style3">直接指派</td>
				</tr>
			</table>
			<table id="selectDiv" style="float: right" width="300px">
				<tr>
					<td width="122"></td>
					<td id="select" width="166" align="right" class="liangstyle1-y">0</td>
				</tr>
				<tr>
					<td align="right"><span class="liangstyle2-y"></span></td>
					<td align="right" class="font-style3">报题选用</td>
				</tr>
			</table>
			<table id="noSelectDiv" style="float: right" width="300px">
				<tr>
					<td width="122"></td>
					<td id="noSelect" width="166" align="right" class="liangstyle1-r">0</td>
				</tr>
				<tr>
					<td align="right"><span class="liangstyle2-r"></span></td>
					<td  align="right" class="font-style3">报题未选用</td>
				</tr>
			</table>
		</div>
		<div style="font-size: 24px; color: #FFF; height: 700px;">
			<div id="container" style="height: 100%;"></div>
			<script src="../../js/echarts.js" type="text/javascript"></script>
		</div>
	</div>
</body>
<script type="text/javascript" src="../../static/scripts/util/utils.js"></script>
<script type="text/javascript" src="../../static/scripts/show/tjReportSelect.js"></script>
</html>
