<!DOCTYPE html>
<!-- <html lang="en"> -->
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>选题进展</title>  
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #1 for fixed sidebar option" name="description" />
    <meta content="" name="author" />
    
    <link rel="icon" href="../../img/dayang.ico" type="image/x-icon"/>  
    <link href="../../static/plugins/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../../static/plugins/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="../../static/plugins/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    
    <link href="../../static/plugins/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="../../static/plugins/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../../static/plugins/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="../../static/plugins/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="../../static/plugins/assets/global/plugins/clockface/css/clockface.css" rel="stylesheet" type="text/css" />
    <link href="../../static/plugins/assets/global/plugins/select2/css/select2.css" rel="stylesheet" type="text/css"/>
    
    <link href="../../static/plugins/assets/global/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" type="text/css" />
    <link href="../../static/plugins/assets/global/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" type="text/css" />
    
    <link href="../../static/plugins/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" /><!--基本样式-->
    <link href="../../static/plugins/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" /><!--基本插件样式-->
    
     <link href="../../static/plugins/assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" /><!--插件公共部分 宽高 样式-->
    <link href="../../static/plugins/assets/layouts/layout3/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="../../static/plugins/assets/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" /><!--针对浏览器样式-->
    
     <link rel="stylesheet" href="../../static/scripts/swiper/css/swiper.min.css" type="text/css">
     
    <!--  <link rel="stylesheet" href="../../static/css/common.css">-->
    <link href="../../static/css/ccbnCommon.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../../static/css/progress.css">
<style type="text/css">

.front{

/*     display: none;    */
     position: absolute; 
     top: 342px;    
     left: 0px;    
	 width:742px;
     height: 172px;
/*      background-color: black;    */
/*      z-index:1001;    */
/*      -moz-opacity: 0.3;    */
/*      opacity:1;    */
/*      filter: alpha(opacity=30);   */

}

</style>
</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white page-sidebar-fixed" style="overflow-y: hidden">
<div style="position: relative;width: 1920px;height: 1080px;">
<div class="progress_box">
    <div class="progress_head">
    	<span class="header_icon"><img src="../../static/images/icon_select.png"></span>
        <span class="header_title">选题进展</span>
        <span class="header_eng">Topic Progress</span>
        <!--  <h3 class="progress_title"></h3> -->
    </div>
    
    <div class="progress_cont">
        <div class="progress_left">
            <div class="progress_mark">
                <h3 class="progress_h3"><span class="progress_summit" id="topicTitle"></span><span class="progress_conduct" id="topicStatus"></span></h3>
               	<div class="progress_icon">
               		<span><img src="../../static/images/icon_wd.png" alt="" class="progress_tu"/><span class="progress_topic" id="principal"></span></span>
               		<span class="progress_small"><img src="../../static/images/icon_sj.png" alt="" class="progress_tu"/><span class="progress_topic" id="topicModifyTime"></span></span>
               		<span class="progress_small" id="progress_small"><img src="../../static/images/icon_lb.png" alt="" class="progress_tu"/><span class="progress_topic progress_suzhou" id="preReportColumn"></span></span>
               	</div>
            </div>
            
            <div class="progress_content">
            	<p class="progress_section" id="topicContent">
<!--             		为迎接G20峰会，目前杭州46个重点亮化项目已经基本完工。五一小长假期间的夜晚，这些亮化项目将试亮灯并进行效果调试。夜晚的杭州将呈现出别样的风采，其中颜值提升最大的是在西湖、运河和钱塘江。 -->
<!--             		<br /> -->
<!--             		&nbsp;&nbsp;&nbsp;&nbsp;经过6个多月的施工和调试，位于杭州三公园的音乐喷泉进行统一试喷，改造后的喷泉拥有各式水型喷头632套，气爆喷泉增加的喷泉的速度经过6个多月的施工和调试，位于杭州三公园的音乐喷泉进行统一试喷，改造后的喷泉拥有各式水型喷头632套，气爆喷泉增加的喷泉的速度 -->
            	</p>
            </div>
            
            <div class="progress_bottom">
            	<h3 class="progress_sign"><img src="../../static/images/icon_zy.png" alt=""  class="progress_file"/><span class="progress_show">资源展示</span></h3>
            	<ul class="progress_uls" id="resourceList">
<!--             		<li class="progress_singular"><span class="progress_meet">G20峰会，杭州夜色柔美，灯光璀璨</span><span class="progress_clue">线索云</span></li> -->
<!--             		<li><span class="progress_meet">迎接G20“蝶变”中的杭州：璀璨“灯光秀”扮靓杭城夜空</span><span class="progress_clue">线索云</span></li> -->
<!--             		<li class="progress_singular"><span class="progress_meet">聚焦G20峰会 杭州夜色柔美 灯光璀璨</span><span class="progress_clue">线索云</span></li> -->
            	</ul>
            </div>
        </div>
        <div class="progress_right" id="progress_right" style="overflow:hidden;">
        	<div id="frontDiv" class="progress_march front"></div>
        	<div class="progress_gress" id="progress_gress">
        	</div>
        </div>
    </div>
</div>
</div>

<script type="text/javascript" src="../../static/plugins/js/jquery.min.js"></script>
<script type="text/javascript" src="../../static/plugins/js/template/template.js"></script>
<script type="text/javascript" src="../../static/scripts/util/utils.js"></script>
<script type="text/javascript" src="../../static/scripts/common/global.js"></script>
<!--<script type="text/javascript" src="../../static/scripts/common/config.js"></script>-->
<script type="text/javascript" src="../../static/scripts/show/xuantiprogress.js"></script>




<script id="item_template" type="text/html">

{{if topicInfo != null}}
	
		<div class="progress_news">
			<h3 class="progress_subject"><span class="progress_top">{{topicInfo.title}}</span><span class="progress_btn" style="background:{{convertStatusColor(topicInfo.status)}}">
	{{convertStatus(topicInfo.status)}}
</span></h3>
			<p class="progress_detail">
				{{topicInfo.content}}
			</p>
		</div>
	
{{/if}}
</script>

<script type="text/html" id="resource_template">

{{each records as data i}}
{{if i < 3}}
	{{ if i%2 == 0}}
		<li class="progress_singular">
			<span class="progress_meet">{{data.title}}</span>
			<span class="progress_clue">				
				{{if data.resourceSourcetype == "CRE"}}
					CRE
				{{else if data.resourceSourcetype == "WEB"}}
					外部链接
				{{else if data.resourceSourcetype == "FILE_RE"}}
					资源库
				{else if data.resourceSourcetype == "CLUE_CLOUD"}}
					线索云
				{{/if}}
			</span>
		</li>
	{{else}}
		<li>
			<span class="progress_meet">{{data.title}}</span>
			<span class="progress_clue">
				{{if data.resourceSourcetype == "CRE"}}
					CRE
				{{else if data.resourceSourcetype == "WEB"}}
					外部链接
				{{else if data.resourceSourcetype == "FILE_RE"}}
					资源库
				{else if data.resourceSourcetype == "CLUE_CLOUD"}}
					线索云
				{{/if}}
			</span>
		</li>
	{{/if}}
{{/if}}
{{/each}}
</script>


<script type="text/javascript">
	
	
	
</script>
</body>
</html>