html,body{
    height:100%;
    width:100%;
    background:#eef2fa;
} 
.logoTitle{
    float:left;
    color:#FFF;
    font-size:22px;
    height:45px;
    line-height:45px;
    margin-left:15px;
}

.new-page-header.navbar {
    background-color: #4c76b2 ;
    margin:0px;
    width:100%;
    position: fixed;
    top:0px;
    left:0px;
    min-height:45px;
    height:45px;
    border:none;
    z-index: 1000;
}
.navbar-nav {
    margin: 0px 10px;
}
.navbar-nav>li>a{
    padding:0;
    line-height:45px !important;

}
.dropdown-toggle{
    background-color: #4c76b2 !important;
}
.dropdown-toggle:hover{
    background-color: #3f67a0 !important;
}
.dropdown-toggle:visited{
    background-color: #3f67a0 !important;
}
.icon-logout{
    color:#9eafc9;
}
/*----------------------- 左侧导航开始------------------ */
/*添加背景色和滚动条*/
.navMenuBox {
    background-color: #334155;
    overflow: auto;
    width:255px;
    height:100%;
    padding-top:46px;
    position: absolute;

}

/*去掉默认样式*/
.navMenuBox ul,
.navMenuBox li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.navMenuBox>li{
    border-bottom: 1px solid #424F66;
} 
.navMenuTop{
    height:100%;
    width: 100%;
    padding-bottom: 98px !important;
    overflow: auto;
}
.navMenuBottom{
   position: absolute;
   bottom:0;
   width:100%;
}
.navMenu>li{
    border-bottom :1px solid #424F66;
    background:#334155;
}
.navMenu>li>a {
    display: block;
    line-height: 48px;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}
.navMenu>li::before{

}

.navMenu>li.active>a,
.navMenu>li>a:hover,
.subMenu>li.active>a,
.subMenu>li>a:hover {
    color: #FFF;
    background: #253345;
}

.subMenu>li>a {
    display: block;
    line-height: 48px;
    font-size: 14px;
    text-decoration: none;
    color: #ABB1B7;
}

ul.subMenu {
    background:#2E3C50;
    padding-left:44px;

}

.subMenu>li>a {
    padding-left: 10px;
}
/* ----------------箭头--------------------- */

/* 所有a */
a.arrow:after {
    display: block;
    float: right;
    font-size: 14px;
    line-height: 48px;
    font-family: FontAwesome;
    content: "\f105";
    font-weight: 300;
    text-shadow: none;
    padding-right:12px;
}
/* 所有li.active的子元素*/
li.active>a.arrow:after {
    display: block;
    float: right;
    font-size: 14px;
    line-height: 48px;
    font-family: FontAwesome;
    content: "\f107";
    font-weight: 300;
    text-shadow: none;
}
/* 汇总列表 去掉箭头*/
li#summary>a.arrow:after {
    display: block;
    float: right;
    font-size: 14px;
    line-height: 48px;
    font-family: FontAwesome;
    content: "";
    font-weight: 300;
    text-shadow: none;
}
/* 其它大屏 去掉箭头*/
li#others>a.arrow:after {
    display: block;
    float: right;
    font-size: 14px;
    line-height: 48px;
    font-family: FontAwesome;
    content: "";
    font-weight: 300;
    text-shadow: none;
}
/* 运营管理 去掉箭头*/
li#operationManage>a.arrow:after {
    display: block;
    float: right;
    font-size: 14px;
    line-height: 48px;
    font-family: FontAwesome;
    content: "";
    font-weight: 300;
    text-shadow: none;
}

/* 全局设置 去掉箭头*/
li#globalSetting>a.arrow:after {
    display: block;
    float: right;
    font-size: 14px;
    line-height: 48px;
    font-family: FontAwesome;
    content: "";
    font-weight: 300;
    text-shadow: none;
    

}



/* ------------------------------------- */

/* 第一级li 前面有图标*/
.navMenu>li>a:before {
    display: block;
    float: left;
    font-size: 16px;
    line-height: 48px;
    font-family: iconfont;
    content: '\e68a';
    font-weight: 300;
    text-shadow: none;
    /*  */
    padding: 0 12px 0 16px;
}
.navMenu>#summary>a:before {
    display: block;
    float: left;
    font-size: 16px;
    line-height: 48px;
    font-family: iconfont;
    content: '\e694';
    font-weight: 300;
    text-shadow: none;
    /*  */
}
.navMenu>#command>a:before {
    display: block;
    float: left;
    font-size: 16px;
    line-height: 48px;
    font-family: iconfont;
    content: '\e69b';
    font-weight: 300;
    text-shadow: none;
    /*  */
}
.navMenu>#manuscript>a:before {
    display: block;
    float: left;
    font-size: 16px;
    line-height: 48px;
    font-family: iconfont;
    content: '\e696';
    font-weight: 300;
    text-shadow: none;
    
}
.navMenu>#intergragtingCloud>a:before {
    display: block;
    float: left;
    font-size: 16px;
    line-height: 48px;
    font-family: iconfont;
    content: '\e698';
    font-weight: 300;
    text-shadow: none;
    
}
.navMenu>#others>a:before {
    display: block;
    float: left;
    font-size: 16px;
    line-height: 48px;
    font-family: iconfont;
    content: '\e68c';
    font-weight: 300;
    text-shadow: none;
    

}
.navMenu>#operationManage>a:before {
    display: block;
    float: left;
    font-size: 16px;
    line-height: 48px;
    font-family: iconfont;
    content: '\e68b';
    font-weight: 300;
    text-shadow: none;
    
}
.navMenu>#globalSetting>a:before {
    display: block;
    float: left;
    font-size: 16px;
    line-height: 48px;
    font-family: iconfont;
    content: '\e68f';
    font-weight: 300;
    text-shadow: none;
    
}
li#operationManage{
    /* 定位到下面 */
    position: absolute;
    bottom:49px;
    width:100%;
}
li#globalSetting{
      /* 定位到下面 */
      position: absolute;
      bottom:0px;
      width:100%;  
}

/*------------------------- 左侧导航结束----------------- */

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #000;
    border-radius: 5px;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    background-color: #324154;
}
/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 8px;
}

.rightContentForIframe{
    width:100%;
    height:100%;
    padding-left:255px;
    padding-top: 46px;
    background:rebeccapurple;
}
.rightContentForIframe iframe{
    width:100%;
    height:100%;
    vertical-align:top 
} 