html,body{
    height:100%;
    width:100%;
    background:#eef2fa;
} 
.logoTitle{
    float:left;
    color:#FFF;
    font-size:22px;
    height:45px;
    line-height:45px;
    margin-left:15px;
}

.new-page-header.navbar {
    background-color: #4c76b2 ;
    margin:0px;
    width:100%;
    position: fixed;
    top:0px;
    left:0px;
    min-height:45px;
    height:45px;
    border:none;
    z-index: 1000;
}
.navbar-nav {
    margin: 0px 10px;
}
.navbar-nav>li>a{
    padding:0;
    line-height:45px !important;

}
.dropdown-toggle{
    background-color: #4c76b2 !important;
}
.dropdown-toggle:hover{
    background-color: #3f67a0 !important;
}
.dropdown-toggle:visited{
    background-color: #3f67a0 !important;
}
.icon-logout{
    color:#9eafc9;
}
/*----------------------- 宸︿晶瀵艰埅寮�濮�------------------ */
/*娣诲姞鑳屾櫙鑹插拰婊氬姩鏉�*/
.navMenuBox {
    background-color: #334155;
    overflow: auto;
    width:255px;
    height:100%;
    padding-top:46px;
    position: absolute;

}

/*鍘绘帀榛樿鏍峰紡*/
.navMenuBox ul,
.navMenuBox li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.navMenuBox>li{
    border-bottom: 1px solid #424F66;
} 
.navMenuTop{
    height:100%;
    width: 100%;
    padding-bottom: 98px !important;
    overflow: auto;
}
.navMenuBottom{
   position: absolute;
   bottom:0;
   width:100%;
}
.navMenu>li{
    border-bottom :1px solid #424F66;
    background:#334155;
}
.navMenu>li>a {
    display: block;
    line-height: 48px;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}
.navMenu>li::before{

}

.navMenu>li.active>a,
.navMenu>li>a:hover,
.subMenu>li.active>a,
.subMenu>li>a:hover {
    color: #FFF;
    background: #253345;
}

.subMenu>li>a {
    display: block;
    line-height: 48px;
    font-size: 14px;
    text-decoration: none;
    color: #ABB1B7;
}

ul.subMenu {
    background:#2E3C50;
    padding-left:44px;

}

.subMenu>li>a {
    padding-left: 10px;
}
/* ----------------绠ご--------------------- */

/* 鎵�鏈塧 */
a.arrow:after {
    display: block;
    float: right;
    font-size: 14px;
    line-height: 48px;
    font-family: FontAwesome;
    content: "\f105";
    font-weight: 300;
    text-shadow: none;
    padding-right:12px;
}
/* 鎵�鏈塴i.active鐨勫瓙鍏冪礌*/
li.active>a.arrow:after {
    display: block;
    float: right;
    font-size: 14px;
    line-height: 48px;
    font-family: FontAwesome;
    content: "\f107";
    font-weight: 300;
    text-shadow: none;
}
/* 姹囨�诲垪琛� 鍘绘帀绠ご*/
li#summary>a.arrow:after {
    display: block;
    float: right;
    font-size: 14px;
    line-height: 48px;
    font-family: FontAwesome;
    content: "";
    font-weight: 300;
    text-shadow: none;
}
/* 鍏跺畠澶у睆 鍘绘帀绠ご*/
li#others>a.arrow:after {
    display: block;
    float: right;
    font-size: 14px;
    line-height: 48px;
    font-family: FontAwesome;
    content: "";
    font-weight: 300;
    text-shadow: none;
}
/* 杩愯惀绠＄悊 鍘绘帀绠ご*/
li#operationManage>a.arrow:after {
    display: block;
    float: right;
    font-size: 14px;
    line-height: 48px;
    font-family: FontAwesome;
    content: "";
    font-weight: 300;
    text-shadow: none;
}

/* 鍏ㄥ眬璁剧疆 鍘绘帀绠ご*/
li#globalSetting>a.arrow:after {
    display: block;
    float: right;
    font-size: 14px;
    line-height: 48px;
    font-family: FontAwesome;
    content: "";
    font-weight: 300;
    text-shadow: none;
    

}



/* ------------------------------------- */

/* 绗竴绾i 鍓嶉潰鏈夊浘鏍�*/
.navMenu>li>a:before {
    display: block;
    float: left;
    font-size: 16px;
    line-height: 48px;
    font-family: iconfont;
    content: '\e68a';
    font-weight: 300;
    text-shadow: none;
    /*  */
    padding: 0 12px 0 16px;
}
.navMenu>#summary>a:before {
    display: block;
    float: left;
    font-size: 16px;
    line-height: 48px;
    font-family: iconfont;
    content: '\e694';
    font-weight: 300;
    text-shadow: none;
    /*  */
}
.navMenu>#command>a:before {
    display: block;
    float: left;
    font-size: 16px;
    line-height: 48px;
    font-family: iconfont;
    content: '\e69b';
    font-weight: 300;
    text-shadow: none;
    /*  */
}
.navMenu>#manuscript>a:before {
    display: block;
    float: left;
    font-size: 16px;
    line-height: 48px;
    font-family: iconfont;
    content: '\e696';
    font-weight: 300;
    text-shadow: none;
    
}
.navMenu>#intergragtingCloud>a:before {
    display: block;
    float: left;
    font-size: 16px;
    line-height: 48px;
    font-family: iconfont;
    content: '\e698';
    font-weight: 300;
    text-shadow: none;
    
}
.navMenu>#others>a:before {
    display: block;
    float: left;
    font-size: 16px;
    line-height: 48px;
    font-family: iconfont;
    content: '\e68c';
    font-weight: 300;
    text-shadow: none;
    

}
.navMenu>#operationManage>a:before {
    display: block;
    float: left;
    font-size: 16px;
    line-height: 48px;
    font-family: iconfont;
    content: '\e68b';
    font-weight: 300;
    text-shadow: none;
    
}
.navMenu>#globalSetting>a:before {
    display: block;
    float: left;
    font-size: 16px;
    line-height: 48px;
    font-family: iconfont;
    content: '\e68f';
    font-weight: 300;
    text-shadow: none;
    
}
li#operationManage{
    /* 瀹氫綅鍒颁笅闈� */
    position: absolute;
    /*bottom:49px;*/
    bottom:0px;
    width:100%;
}
li#globalSetting{
      /* 瀹氫綅鍒颁笅闈� */
      position: absolute;
      bottom:0px;
      width:100%;  
}

/*------------------------- 宸︿晶瀵艰埅缁撴潫----------------- */

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #000;
    border-radius: 5px;
}
/*瀹氫箟婊氬姩鏉¤建閬� 鍐呴槾褰�+鍦嗚*/
::-webkit-scrollbar-track {
    background-color: #324154;
}
/*瀹氫箟婊戝潡 鍐呴槾褰�+鍦嗚*/

::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 8px;
}

.rightContentForIframe{
    width:100%;
    height:100%;
    padding-left:255px;
    padding-top: 46px;
    background:#eef2fa;
}
.rightContentForIframe iframe{
    width:100%;
    height:100%;
    vertical-align:top 
} 

/* 妯℃�佹 */
/*鍒犻櫎 妯℃�佹 */
#deleteModal.modal .modal-dialog{
    color:#354151;
    width:410px;
    height:195px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#deleteModal.modal .close{
    font-weight: normal;
    font-size: 30px;
    height: 25px;
    line-height: 25px;
}
#deleteModal.modal .modal-content{
    width:410px;
    height:195px;
    padding:0 15px;

}

#deleteModal.modal .modal-header {
    border-bottom: none;
    height:45px;
    padding:15px 0 0 0;
    line-height: 45px;
}
#deleteModal.modal .modal-body {
    border-bottom: none;
    padding:0;
    height:90px;
}
#deleteModal.modal .modal-body .div1{
   height:35px;
   line-height:35px;
   font-size: 16px;
    color: #354151;
    text-align: center;
}
#deleteModal.modal .modal-body .div2{
   height:35px;
   line-height:35px;
   font-size: 14px;
    color: #939393;
    text-align: center;
}
#deleteModal.modal .modal-footer {
    border-top: 1px solid #E2E2E2;
        display:flex;
        justify-content: center;
        padding: 10px 0;
        
}
#deleteModal.modal .btn-primary{
    background:#5576ad;
    width: 60px;

}
#deleteModal.modal .btn-primary:hover{
    background:#284678;
    width: 60px;

}
/* 鏈烘瀯閰嶇疆妯℃�佹 */

#organizationConfigModal.modal .modal-dialog{
    color:#354151;
    width:650px;
    height:470px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#organizationConfigModal.modal .modal-content{
    width:650px;
    height:470px;
    padding:0 8px;
    font-size: 14px;

}
#organizationConfigModal.modal .modal-header {
    height:45px;
    padding:15px 0 0 0;
    line-height: 45px;
}
#organizationConfigModal.modal  .modal-header h4{
    font-size: 14px;
    padding-left:10px;
}
#organizationConfigModal.modal  h4{
    font-size: 14px;
}
#organizationConfigModal.modal .close{
    font-weight: normal;
    font-size: 30px;
    height: 25px;
    line-height: 25px;
}
#organizationConfigModal.modal .modal-body {
    border-bottom: none;
    padding:10px 10px 0px 10px;
    height:366px;
    
}
#organizationConfigModal.modal .modal-footer {
    border-top: 1px solid #E2E2E2;
        display:flex;
        justify-content: center;
        padding: 10px 0;
        
}
/* 鏂板缓澶у睆妯℃�佹 */

#ceateBigScreenModal.modal .modal-dialog{
    color:#354151;
    /* 姝ゅ搴旇鏄伓鏁� */
    width:526px;
    height:326px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#ceateBigScreenModal.modal .modal-content{
    width:525px;
    height:450px;
    padding:0 8px;
    font-size: 14px;

}
#ceateBigScreenModal.modal .modal-header {
    height:45px;
    padding:15px 0 0 0;
    line-height: 45px;
}
#ceateBigScreenModal.modal  .modal-header h4{
    font-size: 14px;
    padding-left:10px;
}
#ceateBigScreenModal.modal  h4{
    font-size: 14px;
}
#ceateBigScreenModal.modal .close{
    font-weight: normal;
    font-size: 30px;
    height: 25px;
    line-height: 25px;
}
#ceateBigScreenModal.modal .modal-body {
    border-bottom: none;
    padding:19px;
}
#ceateBigScreenModal.modal .modal-footer {
    border-top: 1px solid #E2E2E2;
        display:flex;
        justify-content: center;
        padding: 10px 0;
        
}
#ceateBigScreenModal .organizationName{
    display:inline-block;
    width:330px;
    margin-right:50px;
}
#ceateBigScreenModal .div2{
    margin-top:22px;
    display: flex;
    align-items: flex-start;
}
#ceateBigScreenModal .div1 input{
    padding:0 10px;
}
#ceateBigScreenModal .div1 input::-webkit-input-placeholder {
    font-size: 14px;
color: #B4B4B4;
}
#ceateBigScreenModal .div2 textarea{
    width:370px;
    height:60px;
    border: 1px solid #C3CAD6;
    border-radius: 4px;
    resize: none;
    padding:10px;

}
#ceateBigScreenModal .div2 textarea::-webkit-input-placeholder {
    font-size: 14px;
    color: #B4B4B4;
}


#editBigScreenModal.modal .modal-dialog{
    color:#354151;
    /* 姝ゅ搴旇鏄伓鏁� */
    width:526px;
    height:326px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#editBigScreenModal.modal .modal-content{
    width:525px;
    height:450px;
    padding:0 8px;
    font-size: 14px;

}
#editBigScreenModal.modal .modal-header {
    height:45px;
    padding:15px 0 0 0;
    line-height: 45px;
}
#editBigScreenModal.modal  .modal-header h4{
    font-size: 14px;
    padding-left:10px;
}
#editBigScreenModal.modal  h4{
    font-size: 14px;
}
#editBigScreenModal.modal .close{
    font-weight: normal;
    font-size: 30px;
    height: 25px;
    line-height: 25px;
}
#editBigScreenModal.modal .modal-body {
    border-bottom: none;
    padding:19px;
}
#editBigScreenModal.modal .modal-footer {
    border-top: 1px solid #E2E2E2;
        display:flex;
        justify-content: center;
        padding: 10px 0;
        
}
#editBigScreenModal .organizationName{
    display:inline-block;
    width:330px;
    margin-right:50px;
}
#editBigScreenModal .div2{
    margin-top:22px;
    display: flex;
    align-items: flex-start;
}
#editBigScreenModal .div1 input{
    padding:0 10px;
}
#editBigScreenModal .div1 input::-webkit-input-placeholder {
    font-size: 14px;
color: #B4B4B4;
}
#editBigScreenModal .div2 textarea{
    width:370px;
    height:60px;
    border: 1px solid #C3CAD6;
    border-radius: 4px;
    resize: none;
    padding:10px;

}
#editBigScreenModal .div2 textarea::-webkit-input-placeholder {
    font-size: 14px;
    color: #B4B4B4;
}



/* 寮规鎸夐挳 */
button.btn-cancle:hover{
    background: #F0F6FF;
    border: 1px solid #5576AD;
    border-radius: 6px;
}
button.btn-cancle{
    font-size: 14px;
    width: 60px;
    height: 34px;
    color: #5576AD;
    background: #FFFFFF;
    border: 1px solid #5576AD;
    border-radius: 6px;
    margin-left:16px !important;
}

.icon-warning{
    color: #FCC700;
    padding-right:14px;
}
#organizationConfigModal .organizationName{
    display:inline-block;
    width:270px;
    margin-right:50px;
}
#organizationConfigModal .div2{
    padding-top:13px;
}
#organizationConfigModal .div2>div{
    height:68px;
    width:100%;
    border-top: 1px dashed #CECECE;
}
#organizationConfigModal .div2>div>.left{
    width:120px;
    float: left;
    /* background:rebeccapurple; */
    height: 100%;
}
#organizationConfigModal .div2>div>.right{
    padding-left:125px;
    width:100%;
    height: 100%;

}

.left .checkboxItem{
    float:left;
    height: 33px;
    display: flex;
    align-items: center;
}
.right .checkboxItem{
    float:left;
    height: 33px;
    display: flex;
    align-items: center;
    padding-left:13px;
}



/* --------------------------------淇敼checkbox鏍峰紡start--灏唅nput闅愯棌锛宭abel:before鍋氫负杈规锛宭abel:after:浣滀负鍕鹃�夌殑瀵瑰嬀--------------------- */
.checkbox-lyy {
    position: relative;
    padding: 0 15px 0 2px;
    margin-top: 0;
   display:inline-block;
    width:25px;
}
/*
灏嗗垵濮嬬殑checkbox鐨勬牱寮忔敼鍙�
*/
.checkbox-lyy input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    width:15px !important;
    height:15px !important;
    z-index: 2;
}
/*
璁捐鏂扮殑checkbox锛屼綅缃�  閫夋鐨勬牱寮�
*/
.checkbox-lyy label:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -9px;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background: #FFFFFF;
    border: 1px solid #C3CAD6;
    border-radius: 2px;
}

.checkbox-lyy  input[type="checkbox"]:checked +label:before {
    border: none;
    background: #5576AD;
}
/*
鐐瑰嚮鍒濆鐨刢heckbox锛屽皢鏂扮殑checkbox鍏宠仈璧锋潵 閫変腑鏃跺�欑殑鏍峰紡
*/
.checkbox-lyy input[type="checkbox"]:checked +label:after {
    position: absolute;
    display: inline-block;
    font-family: 'iconfont';
    content: "\e615";
    top:3px;
    font-size: 11px;
    line-height: 1;
    width: 16px;
    height: 16px;
    color: #fff;
}
/*宸︿晶 鏈�夋嫨鐘舵�佺壒娈婂鐞� */
.left .checkbox-lyy  input[type="checkbox"] +label:before {
    border: none;
    background: #5576AD;
}
.left .checkbox-lyy input[type="checkbox"] +label:after {
    position: absolute;
    display: inline-block;
    font-family: 'iconfont';
    content: "\e7ae";
    top:3px;
    font-size: 11px;
    line-height: 1;
    width: 16px;
    height: 16px;
    color: #fff;
}
.left .checkbox-lyy  input[type="checkbox"]:checked +label:before {
    border: none;
    background: #5576AD;
}
.left .checkbox-lyy input[type="checkbox"]:checked +label:after {
    position: absolute;
    display: inline-block;
    font-family: 'iconfont';
    content: "\e615";
    top:3px;
    font-size: 11px;
    line-height: 1;
    width: 16px;
    height: 16px;
    color: #fff;
}
/* --------------------------------end--------------------- */


.modal-header .close:focus{
    height:25px;
}